<mat-stepper #stepper>
  <mat-step [completed]="false" label="About me">
    <app-about-me-step (next)="stepper.next()"></app-about-me-step>
  </mat-step>
  <mat-step [completed]="false" label="Contact">
    <app-contact-step (next)="stepper.next()"></app-contact-step>
  </mat-step>
  <mat-step [completed]="false" label="Languages">
    <app-languages-step></app-languages-step>
  </mat-step>
  <mat-step [completed]="false" label="Education">
    <app-education-step></app-education-step>
  </mat-step>
</mat-stepper>

<button (click)="downloadCV()">Donwload PDF</button>
