<mat-stepper #stepper [linear]="true">
  <mat-step label="About me">
    <app-about-me-step (next)="stepper.next()"></app-about-me-step>
  </mat-step>
  <mat-step label="Contact">
    <app-contact-step (next)="stepper.next()"></app-contact-step>
  </mat-step>
  <mat-step label="Languages">
    <app-languages-step (next)="stepper.next()"></app-languages-step>
  </mat-step>
  <mat-step label="Education">
    <app-education-step (next)="stepper.next()"></app-education-step>
  </mat-step>
  <mat-step label="Additional info">
    <app-additional-info-step></app-additional-info-step>
  </mat-step>
</mat-stepper>

<button (click)="downloadCV()">Donwload PDF</button>
