<div class="mb-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Skills </mat-panel-title>
        <button
          *ngIf="index !== 0"
          mat-icon-button
          color="warn"
          aria-label="Remove"
          (click)="removeSkillSection.emit(index)"
          class="remove-button"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-expansion-panel-header>
      <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field appearance="fill">
          <mat-label>Skills section name</mat-label>
          <input matInput formControlName="sectionName" />
        </mat-form-field>

        <mat-checkbox formControlName="showLevel"
          >Show skills level</mat-checkbox
        >

        <div formArrayName="skills">
          <div
            *ngFor="
              let sillSectionForm of form.controls.skills.controls;
              let i = index
            "
          >
            <app-skill-item
              [form]="sillSectionForm"
              [index]="i"
              (removeSkillItem)="removeSkillItem(i)"
            ></app-skill-item>
          </div>
          <div class="d-flex justify-content-center">
            <button mat-fab extended color="primary" (click)="addSkill()">
              Add skill <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
