<div class="mb-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Education </mat-panel-title>
        <button
          *ngIf="index !== 0"
          mat-icon-button
          color="warn"
          aria-label="Remove"
          (click)="removeEducationItem.emit(index)"
          class="remove-button"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <form [formGroup]="form" class="d-flex flex-column">
        <div class="d-flex flex-row">
          <mat-form-field class="w-100">
            <mat-label>Start date</mat-label>
            <input
              matInput
              formControlName="startDate"
              [matDatepicker]="startDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <div class="gap"></div>

          <mat-form-field class="w-100">
            <mat-label>End date</mat-label>
            <input
              matInput
              formControlName="endDate"
              [matDatepicker]="endDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Faculty</mat-label>
          <input
            matInput
            formControlName="faculty"
            placeholder="Enter faculty"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Degree title</mat-label>
          <input
            matInput
            formControlName="degreeTitle"
            placeholder="Enter degree title"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Instytution type</mat-label>
          <input
            matInput
            formControlName="institutionType"
            placeholder="Enter institution type"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Additional info</mat-label>
          <input
            matInput
            formControlName="additionalInfo"
            placeholder="Enter additional info"
          />
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
