<div class="mb-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Experience </mat-panel-title>
        <button
          *ngIf="index !== 0"
          mat-icon-button
          color="warn"
          aria-label="Remove"
          (click)="removeExperienceItem.emit(index)"
          class="remove-button"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <form [formGroup]="form" class="d-flex flex-column">
        <div class="d-flex flex-row">
          <mat-form-field class="w-100">
            <mat-label>Start date</mat-label>
            <input
              matInput
              formControlName="startDate"
              [matDatepicker]="startDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <div class="gap"></div>

          <mat-form-field class="w-100">
            <mat-label>End date</mat-label>
            <input
              matInput
              formControlName="endDate"
              [matDatepicker]="endDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Company name</mat-label>
          <input matInput formControlName="companyName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" />
        </mat-form-field>

        <div formArrayName="experienceDescriptions">
          <div
            *ngFor="
              let description of form.controls.experienceDescriptions.controls;
              let i = index
            "
          >
            <div class="d-flex flex-row w-100">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Description {{ i + 1 }}</mat-label>
                <textarea matInput [formControlName]="i" rows="2"></textarea>
              </mat-form-field>
              <button
                mat-icon-button
                color="warn"
                (click)="removeWorkExperienceDescription(i)"
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-3">
            <button
              mat-fab
              extended
              color="primary"
              (click)="addWorkExperienceDescription()"
            >
              Add description <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
