<form
  [formGroup]="service.form"
  class="d-flex flex-row justify-content-center mt-5"
>
  <div class="flex-column w-50">
    <div formArrayName="workExperiences">
      <div
        *ngFor="
          let experienceForm of service.form.controls.workExperiences.controls;
          let i = index
        "
      >
        <app-experience-item
          [form]="experienceForm"
          [index]="i"
          (removeExperienceItem)="removeExperience(i)"
        ></app-experience-item>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button mat-fab extended color="primary" (click)="addExperience()">
        Add experience <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div class="d-flex justify-content-end mt-5">
      <button class="btn btn-primary px-4" (click)="nextStep()">Next</button>
    </div>
  </div>
</form>
