<div class="d-flex flex-row justify-content-center mt-5">
  <div class="d-flex flex-column w-50 mx-3">
    <div
      id="leftColumnList"
      class="list-container"
      cdkDropList
      #leftColumnList="cdkDropList"
      [cdkDropListData]="leftColumn"
      [cdkDropListConnectedTo]="[rightColumnList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let form of leftColumn" class="cursor-move m-1" cdkDrag>
        <mat-card appearance="outlined">
          <mat-card-content>{{ form.label }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-50 mx-3">
    <div
      id="rightColumnList"
      class="list-container"
      cdkDropList
      #rightColumnList="cdkDropList"
      [cdkDropListData]="rightColumn"
      [cdkDropListConnectedTo]="[leftColumnList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let form of rightColumn" class="cursor-move m-1" cdkDrag>
        <mat-card appearance="outlined">
          <mat-card-content>{{ form.label }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end mt-4">
  <button mat-fab extended color="primary" (click)="navigateToSummary()">
    Finish
  </button>
</div>
