<form [formGroup]="form" class="d-flex justify-content-between">
  <mat-form-field appearance="fill">
    <mat-label>{{ "StringLanguage" | translate }}</mat-label>
    <input matInput formControlName="languageName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-50">
    <mat-label>{{ "StringProficiencyLevel" | translate }}</mat-label>
    <mat-select formControlName="proficiencyLevel">
      <mat-option *ngFor="let level of proficiencyLevels" [value]="level.value">
        {{ level.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    *ngIf="index === 0"
    mat-icon-button
    color="primary"
    (click)="addLanguage.emit()"
    matTooltip="Add Language"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
    *ngIf="index > 0"
    mat-icon-button
    color="warn"
    (click)="removeLanguage.emit(index)"
    matTooltip="Remove Language"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</form>
