<form
  [formGroup]="service.form"
  class="d-flex flex-row justify-content-center mt-5"
>
  <div class="flex-column w-50">
    <div formArrayName="languages">
      <div
        *ngFor="
          let languageForm of service.form.controls.languages.controls;
          let i = index
        "
      >
        <app-language-item
          [form]="languageForm"
          [index]="i"
          (addLanguage)="addLanguage()"
          (removeLanguage)="removeLanguage(i)"
        ></app-language-item>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-fab extended color="primary" (click)="nextStep()">
        Next
      </button>
    </div>
  </div>
</form>
