<div class="d-flex flex-column">
  <h1>Summary</h1>

  <div class="d-flex justify-content-center my-5">
    <div class="summary-draft-container">
      <div class="draft-left">
        <img class="profile-image" [src]="image" />

        <div class="left-section-container">
          <h6>About me</h6>
          <div class="d-flex flex-column">
            <span class="text-center">
              <b>
                {{ cvDocumentSummaryModel.aboutMe.firstName }}
                {{ cvDocumentSummaryModel.aboutMe.lastName }}
              </b>
            </span>
            <span class="text-center">{{
              cvDocumentSummaryModel.aboutMe.job
            }}</span>
            <span>{{ cvDocumentSummaryModel.aboutMe.aboutMeText }}</span>
          </div>
        </div>

        <div class="left-section-container">
          <h6>Contact</h6>
          <div class="d-flex flex-column">
            <span>{{ cvDocumentSummaryModel.contact.email }}</span>
            <span>{{ cvDocumentSummaryModel.contact.phone }}</span>
            <span>{{ cvDocumentSummaryModel.contact.address }}</span>
          </div>
        </div>

        <div class="left-section-container">
          <h6>Languages</h6>
        </div>
      </div>
      <div class="draft-right">right</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button
      mat-fab
      extended
      color="primary"
      (click)="downloadCV()"
      [disabled]="isDownload"
    >
      Download CV <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
